In [1]:
%load_ext autoreload
%autoreload 2

In [32]:
#usefull imports
import numpy as np
import pandas as pd
import os
import matplotlib

In [61]:
#getting path
os.getcwd()
csv_path = os.path.join(os.getcwd(),  'raw_data')
csv_path

'/home/maria/code/MariaRJ2023/intelligent-network-expansion/raw_data'

In [20]:
pd.read_csv(os.path.join(csv_path, 'LTE KPIs Part 1.csv'),sep=";").head()

,Date,eNodeB identity,Cell ID,Cell FDD TDD Indication,Downlink EARFCN,Downlink bandwidth,LTECell Tx and Rx Mode,Trafic LTE,L.Traffic.ActiveUser.Avg,L.Traffic.User.Avg,DL throughput_GRP,DL PRB Usage(%)
0,2022-08-17,146007,1,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"62,2448","2,0625","42,7677","24,5815","14,6073"
1,2022-08-17,146007,2,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"79,4215","2,6462","41,2266","13,618","28,7316"
2,2022-08-17,146007,3,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"75,3552","2,0158","32,4667","28,3735","16,2728"
3,2022-08-17,146603,1,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"135,2522","3,5427","39,0666","12,6066","37,4124"
4,2022-08-17,146603,2,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"169,5315","11,3887","84,4495","3,3873","72,5022"

In [133]:
data=pd.read_csv(os.path.join(csv_path, 'LTE KPIs Part 1.csv'),sep=";")

In [65]:
data_keys=data.keys()#or data.columns

In [78]:
data_shape=data.shape
nb_ligne=data_shape[0]
type(data_shape[0])

int

In [40]:
type(data['Date'][2])

str

In [62]:
#Transporm date from str to date format
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%d')

In [64]:
type(data['Date'][2])

pandas._libs.tslibs.timestamps.Timestamp

In [44]:
data.head(3)

,Date,eNodeB identity,Cell ID,Cell FDD TDD Indication,Downlink EARFCN,Downlink bandwidth,LTECell Tx and Rx Mode,Trafic LTE,L.Traffic.ActiveUser.Avg,L.Traffic.User.Avg,DL throughput_GRP,DL PRB Usage(%)
0,2022-08-17,146007,1,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"62,2448","2,0625","42,7677","24,5815","14,6073"
1,2022-08-17,146007,2,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"79,4215","2,6462","41,2266","13,618","28,7316"
2,2022-08-17,146007,3,CELL_FDD,Band_1,CELL_BW_N100,2T2R,"75,3552","2,0158","32,4667","28,3735","16,2728"

In [66]:
#columns type
for key in data_keys:
    print(f"{key}: {type(data[key][2])}")

Date: <class 'pandas._libs.tslibs.timestamps.Timestamp'>
eNodeB identity: <class 'numpy.int64'>
Cell ID: <class 'numpy.int64'>
Cell FDD TDD Indication: <class 'str'>
Downlink EARFCN: <class 'str'>
Downlink bandwidth: <class 'str'>
LTECell Tx and Rx Mode: <class 'str'>
Trafic LTE: <class 'str'>
L.Traffic.ActiveUser.Avg: <class 'str'>
L.Traffic.User.Avg: <class 'str'>
DL throughput_GRP: <class 'str'>
DL PRB Usage(%): <class 'str'>

In [72]:
float(data['L.Traffic.User.Avg'][2].replace(',','.'))

32.4667

In [126]:
#L.Traffic.User.Avg
#replacing string values by float values
def replace_str_to_float(column_name):
    new_column=[]
    new_val=0
    for n in range(nb_ligne):
        new_val=data[column_name][n].replace(',','.')
        new_val=new_val.replace('/','')
        new_column.append(float(new_val))
    return new_column

data['Trafic LTE.float']=replace_str_to_float('Trafic LTE')
data['L.Traffic.ActiveUser.Avg.float']=replace_str_to_float('L.Traffic.ActiveUser.Avg')
data['L.Traffic.User.Avg.float']=replace_str_to_float('L.Traffic.User.Avg')
data['DL throughput_GRP.float']=replace_str_to_float('DL throughput_GRP')
data['DL PRB Usage.float']=replace_str_to_float('DL PRB Usage(%)')

In [129]:
data.loc[data['DL throughput_GRP'] == nill]

NameError: name 'nill' is not defined

In [100]:
data.keys()

Index(['Date', 'eNodeB identity', 'Cell ID', 'Cell FDD TDD Indication',
       'Downlink EARFCN', 'Downlink bandwidth', 'LTECell Tx and Rx Mode',
       'Trafic LTE', 'L.Traffic.ActiveUser.Avg', 'L.Traffic.User.Avg',
       'DL throughput_GRP', 'DL PRB Usage(%)', 'L.Traffic.User.Avg.float'],
      dtype='object')

In [127]:
data.dtypes

Date                               object
eNodeB identity                     int64
Cell ID                             int64
Cell FDD TDD Indication            object
Downlink EARFCN                    object
Downlink bandwidth                 object
LTECell Tx and Rx Mode             object
Trafic LTE                         object
L.Traffic.ActiveUser.Avg           object
L.Traffic.User.Avg                 object
DL throughput_GRP                  object
DL PRB Usage(%)                    object
L.Traffic.User.Avg.float          float64
Trafic LTE.float                  float64
L.Traffic.ActiveUser.Avg.float    float64
DL throughput_GRP.float           float64
DL PRB Usage.float                float64
dtype: object

In [138]:
data['Cell FDD TDD Indication'].value_counts()

CELL_FDD    431877
Name: Cell FDD TDD Indication, dtype: int64

In [139]:
data['Downlink EARFCN'].value_counts()

Band_1    213215
Band_2    124008
Band_3     94654
Name: Downlink EARFCN, dtype: int64

In [140]:
data['Downlink bandwidth'].value_counts()

CELL_BW_N100    337223
CELL_BW_N50      94654
Name: Downlink bandwidth, dtype: int64